@font-face { 
  font-family: Inter;
  src: url('Inter/static/Inter-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Inter' !important;
}

.header_column {
  background-color: #A9A9A9 !important;
  font-weight:300;
}

.index_column {
  background-color: #878787 !important;
  font: weight 1.2rem;
}

.target_column {
  background-color: #CADBF4 !important;
  font: weight 1.2rem;
}

.button-menu {
  float: right !important;
  margin: 0;
  max-width: 100%;
  padding: 5px;
}

.img-button {
  padding: 0; 
}

.header-name {
  float: left;
}

.dropdown {
  display: grid;
  grid-template-columns: auto auto; 
  align-items: center;
}

.bordered_table {
  border: #5B5B5B !important;
  border: 1px;
  margin-top: 20px;
}

.icon_delete {
  background: url("/public/images/button-delete.svg") no-repeat center;
  background-size: 16px;
  /* background-color: transparent;  */
  /* background-repeat: no-repeat;   */
  /* background-position: 1px 1px; */
  /* border-color:#FFFFFF; */
  border: none;
  border-width: 1px;
  border-radius: 3px;
  /* cursor: pointer;  */
  height: 100%;
  width: 100%;
  vertical-align: middle;

}

.filters {
  display: inline;
}


.download_file {
  height: 24px;
  width: 24px;
  background-size: cover;
}

.input_url {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center; 
}


.input_filter {
  width: 100%;

}

.table-container {
  max-width: 95%; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text-table {
  font-size: 0.9rem;
}

.dropdown-menu {
  border-color: #024A7E;
}

.button-submit {
  margin-left: 5pt;
  background: #024A7E;
  color: #FFFFFF;
  width: 104px;
  height: 32px;
  top: 173px;
  left: 154px;
  gap: 0px;
  border-radius: 7px ;
  opacity: 0px;
}

input[type="checkbox"] {
  border: 1px solid #024A7E;
}

/* .input-checkbox {
  border: 1px solid #024A7E !important;
} */

.button-all {
  background: #F2F6F8;
  color: #024A7E;
  border-radius: 7px ;
}

.file-name {
  margin-top: 10px;
  float: left;
}

.button-download {
  margin-top: 10px;
  float: right;
  background-color: #FFFFFF;
  border: #FFFFFF;
}